footer {
    height: 50px;
    flex-shrink: 0;
    background-color: rgb(14, 24, 51);
    text-align: center;
    color: white;
    padding-bottom: 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}