footer {
    height: 50px;
    flex-shrink: 0;
    background-color: rgb(14, 24, 51);
    text-align: center;
    color: white;
    padding-bottom: 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#heading {
    width: 98%;
    background-color: #e9ecef;
    padding: 16px;
    margin: 10px auto;
    border-radius: 10px;
  }
  
  .navbar-brand {
    font-family: "Orbitron", sans-serif;
    letter-spacing: 0.1em;
  }