body {
    color: #fff;
    font: 300 1em 'Fira Sans', sans-serif;
    background-color: black;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    display: flex;
  }
  
  
  button {
    background-color: black; 
    border: 2px solid rgb(191, 8, 247);
    padding: 15px 32px;
    color:rgb(162, 0, 255);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
  }
  button:hover {
    box-shadow:
    0 2.8px 2.2px rgba(144, 22, 226, 0.959),
    0 6.7px 5.3px rgba(144, 22, 226, 0.959),
    0 12.5px 10px rgba(144, 22, 226, 0.959),
    0 22.3px 17.9px rgba(144, 22, 226, 0.959),
    0 41.8px 33.4px rgba(144, 22, 226, 0.959),
    0 100px 80px rgba(144, 22, 226, 0.959);
    min-height: 100px;
    width: 50vw;
    margin: 100px auto;
    background: rgb(8, 8, 8);
    border-radius: 5px;
  }