<%- include('../partials/header') %> 
<%- include('../partials/navbar') %>

<div class="container" style="margin-top:5rem;width:45vw;margin-bottom: 11rem;">

    <form action="/login" method="POST">
        <%- include('../partials/flash') %>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="username" >
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" >
       </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
        <br>
        <p class="card-text"> New User? Sign Up below</p>
        <a href="signup" class="btn btn-primary" >Sign Up</a>
      </form>

</div>



<%- include('../partials/footer') %>